body {
    background-color: black;
    /* background-image: url("photos/background.JPG"); */
    background-repeat:no-repeat;
    background-size:cover;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 25px;
    padding-bottom: 100px;
    height: 100%;
    width: 92%;
    font-family: monospace;
    color: white;
    /* text-align: center; */
    display: table-cell;
    vertical-align: middle;
    font-size: 100%
    /* font-size: calc(.5em + 1vw); */
  }
  
  a {
    /* color: hotpink; */
    color: #3aace5;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(172, 229, 58);
    text-decoration: underline overline; 
  }
/*   
  h1{
    text-align: right;
  } 
  
  h2{
    text-align: right;
  }  */
  
  /* header {
      background-color: #eafafe;
      position:fixed;
      top: 0;
      bottom: 10;
      left: 0;
      width: 100%;
      height: 8%;
  } */

   /* Style the navigation menu */
.topnav {
    overflow: visible;
    background-color: black;
    /* position: relative; */
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    text-align: right;
    /* background: black; */
    color: #e53aac;
    padding: 14px -50px;
    /* padding: 14px 50px 0px 200px ; */
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    /* background: black; */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    /* background-color: #ddd; */
    color: rgb(172, 229, 58);
    font-style: normal; 
    /* text-decoration: underline overline;  */
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  } 

header {
    position:fixed;
    top: 20;
    bottom: 10;
    left: 0;
    text-align: right;
    padding: 10px;
    right: 100;
    width: 5%;
    height: 8%;
}

details{
    color: #c93ae5;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    position:fixed;
    color: #e5733a; 
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 4%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    /* font-style: oblique; */
    right: 100;
    /* top: 20;
    bottom: 10;
    left: 0;
    text-align: right; */
    /* right: 100;
    width: 5%;
    height: 8%; */
}